---
permalink: "/"
layout: layout.liquid

renderData:
    title: "Recipes"
    webTitle: "Festa di Famiglia"

---

<div class="columns is-multiline">
    {%- for recipe in recipes-contentful -%}
    <div class="column is-one-third ">
        <div class="box">
            <p class="title is-4 has-text-dark has-text-centered">{{recipe.title}}</p>
            <a href="{{ recipe.title | slug }}">
                <div class="image is-3by2">
                    <img src="https:{{recipe.thumbnail.fields.file.url}}?w=600&h=400&fm=jpg&fl=progressive&q=80&fit=fill&f=center" alt="{{ recipe.title }}" loading="lazy">
                </div>
            </a>
        </div>
    </div>
    {%- endfor -%}
</div>
