---
layout: layout.liquid

---
    <main>
        <section class="hero is-info is-fullheight-with-navbar">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title has-text-centered">
                        {{renderData.title}}
                    </h1>
                    <div class="columns is-mobile is-centered">
                    <div class="select is-rounded">
                    <select onchange="location = this.value;">
                        <option>Select category</option>
                        <option value="/">All</option>
                        {%- for category in collections.recipeTags -%}
                        <option value="/categories/{{category | slug}}">{{category}}</option>
                        {%- endfor -%}
                    </select>
                    </div>
                    </div>
                    </br>
                    {{content}}
                </div>
            </div>
        </section>
    </main>