---
layout: layout.liquid

---
    <main>
        <section class="hero is-info is-fullheight-with-navbar">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title has-text-centered">
                        {{renderData.title}}
                    </h1>
                    {{content}}
                </div>
            </div>
        </section>
    </main>