---
layout: layout.liquid

---
<style>
.bg-img {
    background-image: url({{renderData.thumbnail}});
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: #527457 !important;
    background-blend-mode: multiply;
}
</style>

    <main>
        <section class="hero is-success is-halfheight bg-img">
            <div class="hero-body">
                <div class="">
                    <p class="title">
                        {{renderData.title}}
                    </p>
                    <p class="subtitle">
                        {{renderData.subTitle}}
                    </p>
                </div>
            </div>
        </section>

        <div class="container">
            {{content}}
        </div>
    </main>
